@import "../inc/extensions";
@import "../inc/definitions";
@import "normalize";

*{
	@include box-sizing(border-box);
}
html{
    font-size: $base-font-size;
}
body{
	font-family: "Helvetica Neue";
	background: $gray30;
	font-size:$p;
	font-weight: normal;
	line-height:1.618;
	color: $gray90;
	::selection{
    	color:$white;
    	background:$accentBlue;
    }
}
#{headings(all)}{
    font-weight: bold;
    @include leader(0);
    @include trailer(3);
}
h1{
    font-size: $h1Largest;
    color: $blue;
}
h2{
    font-size: $h2;
    color: $blue;
}
h3{
    font-size: $h3;
    color: $blue;
}
h4{
    font-size: $h4;
}
h5{
    font-size: $h5;
}
h6{
    font-size: $h6;
}
small{
    font-size: $small;
}
a{
    outline: none;
    text-decoration: none;
    @include link-colors($accentBlue, $magenta, $magenta, $accentBlue, $magenta);
}
p{
	@include leader(0);
    @include trailer(3);
}
strong, b{
    font-weight: bold;
}
em{
    font-style: italic;
}
mark{
	background: $accentYellow;
}
.container{
	max-width: $container;
	margin:0 auto;
	padding:0 1.5rem;
}

// Include Pattern Library
@import "../lib/grid";
@import "../lib/tabs";
@import "../lib/tables";
@import "../lib/panels";
@import "../lib/popups";
@import "../lib/prompts";
@import "../lib/tooltips";
@import "../lib/progressBars";
@import "../lib/forms";
@import "../lib/buttons";
@import "../lib/buttonGroups";
@import "../lib/badges";