// Colors
$blue				:#001A96;
$magenta			:#E00099;
$accentBlue			:#00B5E2;
$accentGreen		:#00BA33;
$accentYellow		:#FFDD00;
$accentOrange		:#FF6900;
$grayDarkest		:#444444;
$grayDark			:#777777;
$grayLight			:#AAAAAA;
$grayLightest		:#F1F1F1;

// Grids
$container			:1200px;

// Breakpoints
$phonePortrait		:320px 639px;
$phoneLandscape		:640px 767px;
$tablet				:768px 1199px;
$mobile				:320px 1199px;
$desktop			:min-width 1200px;

// Typography