// Colors
$blue						:#001A96;
$magenta					:#E00099;
$accentBlue					:#00B5E2;
$accentGreen				:#00BA33;
$accentYellow				:#FFDD00;
$accentOrange				:#FF6900;
$white		 				:#FFFFFF;
$gray15						:#FAFAFA;
$gray30						:#F1F1F1;
$gray45						:#DDDDDD;
$gray60						:#AAAAAA;
$gray75						:#888888;
$gray90						:#444444;

// Grids
$container					:1230px;

// Breakpoints
$phoneSmall					:320px 639px;
$phoneBig					:640px 767px;
$phone						:320px 767px;
$tablet						:768px 1199px;
$mobile						:320px 1199px;
$desktop					:min-width 1200px;

// Typography
$headingFont				:"Helvetica Neue";
$bodyFont					:"Helvetica Neue";
$base-font-size				:10px;
$base-line-height			:10px;
$round-to-nearest-half-line	:false;
$min-line-padding			:0px;
$rhythm-unit				:'rem';
$rem-with-px-fallback		:false;
$fsH1xxxl					:5.4rem;
$fsH1xxl					:4.8rem;
$fsH1xl						:4.3rem;
$fsH1l						:3.8rem;
$fsH1						:3.4rem;
$fsH2						:3rem;
$fsH3						:2.7rem;
$fsH4						:2.4rem;
$fsH5						:2.1rem;
$fsH6						:1.8rem;
$fsCaption					:1.6rem;
$fsBody						:1.5rem;
$fsSmall					:1.3rem;
$fsSmaller					:1.1rem;

// Others
$borderRadius				:3px;